eli5
ipywidgets
jupyter
jupyter-book
matplotlib
numpy
pandas
pillow
plotly
pydot
pydotplus
pytesseract
reverse-geocoder
seaborn
scikit-learn
scipy
statsmodels
ua-parser
user_agents
wordcloud
xgboost
pingouin
prophet
ipykernel
